html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

html[data-theme="light"] {
  --color-text: #1c1a1e;
  --color-text-btn: #751fff;
  --color-bg-btn: #751fff14;
  --bg-container: #ebebeb4d;
  --color-background: #fcfcfc;
  --color-background-card: whitesmoke;
  --box-shadow-light: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
}

html[data-theme="dark"] {
  --color-text: #f9f5ff;
  --color-text-btn: #ffe91f;
  --color-bg-btn: #ffe91f14;
  --bg-container: #171d23;
  --color-background: #1a2128;
  --color-background-card: #232c34;
  --box-shadow-dark: 0px 25px 40px -10px rgba(0, 0, 0, 0.4);
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: var(--color-background);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  background-color: var(--bg-container);
  padding-bottom: calc(4rem);
}

.space {
  padding-inline: 1rem;
}

@media (min-width: 64em) {
  .space {
    padding-inline: 4rem;
  }
}

@media (min-width: 90rem) {
  .space {
    padding-inline: 7.125rem;
  }
}

header {
  position: relative;
}

.background {
  background-image: url("../asset/stranger-things-desktop.png");
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  height: 704px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f9f5ff;
  font-weight: 800;
  font-size: 1.80187rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

@media (min-width: 31.25em) {
  h1 {
    font-size: 2.281rem;
  }
}

@media (min-width: 52.125em) {
  h1 {
    font-size: calc(2.56612rem);
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.2475rem;
  }
}

@media (min-width: 77.5em) {
  h1 {
    font-size: 4.11rem;
  }
}

.mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.mode:hover * {
  color: var(--color-text-btn);
  stroke: var(--color-text-btn);
}

@media (min-width: 31.25em) {
  .mode {
    top: 1.2rem;
    right: 1.2rem;
  }
}

@media (min-width: 52.125em) {
  .mode {
    top: 1.6rem;
    right: 1.6rem;
  }
}

@media (min-width: 64em) {
  .mode {
    top: 1.8rem;
    right: 1.8rem;
  }
}

@media (min-width: 77.5em) {
  .mode {
    top: 2rem;
    right: 2rem;
  }
}

.mode__text {
  color: #f9f5ff;
  margin-right: 0.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mode__switch svg path {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero {
  padding-inline: 0.5rem;
  margin-block: calc(4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 77.5em) {
  .hero {
    margin-top: calc(6rem);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero > input[name="search"] {
  max-width: 40rem;
  border: 1px solid #dadee2;
  padding: calc(0.75rem) 0 calc(0.75rem) calc(0.875rem);
  border-radius: 0.625rem;
}

@media (min-width: 77.5em) {
  .hero > input[name="search"] {
    -ms-flex-item-align: end;
        align-self: flex-end;
    min-width: 20rem;
  }
}

.hero__select {
  margin-top: calc(2rem);
  width: 100%;
  min-width: 10ch;
  max-width: 24ch;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  background-color: var(--color-bg-btn);
  border-radius: 6.25rem;
  position: relative;
}

.hero__select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--color-text-btn);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 52.125em) {
  .hero__select {
    display: none;
  }
}

.hero__select > select {
  padding: calc(0.75rem) 0 calc(0.75rem) calc(0.875rem);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-text-btn);
  text-transform: capitalize;
}

.hero__list-btn {
  margin-top: calc(2rem);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  text-transform: capitalize;
}

.hero__list-btn :not(:last-child) {
  margin-right: calc(1rem);
}

@media (min-width: 52.125em) {
  .hero__list-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__list-btn__link {
  padding-inline: calc(3rem);
  padding-block: calc(1rem);
  color: var(--color-text-btn);
  background-color: var(--color-bg-btn);
  border-radius: 6.25rem;
  cursor: pointer;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 0.0625rem solid var(--color-text-btn);
  border-radius: inherit;
}

select,
.hero__select::after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

.active {
  border: 0.125rem solid var(--color-text-btn);
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 15.9375rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 15.9375rem));
  grid-auto-rows: 21.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: calc(4rem);
}

.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow-light);
          box-shadow: var(--box-shadow-light);
  background-color: #1c1a1e;
  position: relative;
  cursor: pointer;
}

.card:hover img {
  opacity: 0.5;
}

.card:hover .card__info {
  bottom: 0%;
  left: 0;
  right: 0;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 7.5rem;
  background-color: var(--color-background-card);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  padding: calc(1rem);
  color: var(--color-text);
  position: absolute;
  bottom: -100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card__info__title {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1rem;
}

.card__info__list {
  margin-top: auto;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__info__list__item * svg path {
  stroke: var(--color-text);
}

.card > img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*# sourceMappingURL=main.css.map */