@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$font-size: 62.5%;
$background-clr: #1f1f1f;
$font-family: "Poppins", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: $font-size;
	background-color: $background-clr;
	font-family: $font-family;
}

.container {
	max-width: 1200px;
	padding: 1rem;
	margin: 0 auto;
}

img {
	width: 100%;
	height: 100%;
	display: block;
}
