.grid {
	width: 100%;
	margin-bottom: calc(#{$padding * 8});
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 15.9375rem));
	grid-auto-rows: 21.625rem;
	justify-content: center;

	gap: calc(#{$padding * 4});
}

.card {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-shadow: var(--box-shadow-light);
	background-color: #fff;
	position: relative;
	cursor: pointer;

	&:hover &__info {
		bottom: 0%;
		left: 0;
		right: 0;
	}

	&__info {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 7.5rem;
		background-color: var(--color-background-card);
		border-top-left-radius: 1.25rem;
		border-top-right-radius: 1.25rem;
		padding: calc(#{$padding * 2});
		color: var(--color-text);
		position: absolute;
		bottom: -100%;
		transition: all 0.5s ease;

		&__title {
			text-transform: capitalize;
			font-weight: $fw-bold;
			font-size: $fs-basic;
		}

		&__list {
			margin-top: auto;
			font-size: $fs-small;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
