// Corlors
$color-purple: hsl(263, 100%, 56%);
$color-purple-8: #751fff14;
$color-yellow: hsl(54, 100%, 56%);
$color-yellow-8: #ffe91f14;

$bg-color-light: hsl(0, 0%, 99%);
$bg-color-dark: hsl(210, 21%, 13%);

$bg-color-light-grey: hsl(0, 0%, 96%);
$bg-color-light-dark: hsl(208, 20%, 17%);

$black: hsl(270, 7%, 11%);
$white: hsl(262, 100%, 98%);

$bg-color-border: hsl(207, 13%, 87%);

$bg-light-container: #ebebeb4d;
$bg-dark-container: #171d23;

// Font size ratio 1.125
$fs-h1: 4.11rem; //64px
$fs-h2: 3.2475rem; //51.96px
$fs-h3: 2.281rem; //36.49px
$fs-h4: 1.801875rem; //28.83px
$fs-basic: 1rem; //16px
$fs-small: 0.875rem; //14px

// background shadow
$bg-shadow-light-grey: 0px 25px 40px -10px rgba(28, 39, 49, 0.08);
$bg-shadow-light-purple: 0px 25px 40px -10px rgba(117, 31, 255, 0.08);

$bg-shadow-dark-black: 0px 25px 40px -10px rgba(0, 0, 0, 0.4);
$bg-shadow-dark-yellow: 0px 25px 40px -10px rgba(255, 233, 31, 0.08);

// Font familly
$font-family: "Inter", sans-serif;

// margin padding basic
$margin: 0.5rem;
$padding: 0.5rem;

// font-weight
$fw-bold: 800;
$fw-regular: 400;

// border radius
$border-full: 6.25rem; //100px
